* {
  box-sizing: border-box; 
}

body {
 max-width: 1440px;  /* Твоя цель */
  margin: 0 auto;     /* Магия: центрирует блок, распределяя пустое место поровну */
  width: 100%;        /* Чтобы блок был адаптивным */
  /*padding-left: 0px;
  padding-right: 0px;*/
  box-sizing: border-box; 
  background-color: #EFEEE8;

}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  gap: 3px;
  margin-top: 5px;
  margin-left: -6px;
  width: 187px;
  height: 34px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0 59px;
  height: 80px;
  background-color: #f4f1ea;
  border-bottom: 1px solid #d1cfc8;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px; 
  padding: 0;
  margin: 0;
  position: relative;
  left: -3px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  letter-spacing: 0.01px; 
  display: flex;
  align-items: center;
  gap: 5px; 
}

.nav-links a img {
  width: 22px; 
  height: auto;
  flex-shrink: 0;
}

.line {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #333;
  margin-left: 15px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-section {
  width: 100%;
  min-height: 362px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  left: 1px;
}

.hero-title {
  margin-bottom: 25px;
  letter-spacing: -0.02px; 
  font-family: "Libre Baskerville";
  font-size: 66px;
  padding-left: 2px;
  font-style: normal;
  font-weight: 700;
  width: auto;
  line-height: 74px;
  white-space: nowrap; 
}

.hero-subtitle {
  text-align: center;
  font-family: Oxygen; 
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  color: #555;
  max-width: 900px; 
  margin-top: 3px;
  margin-left: 0px;
  line-height: 1.7;
  letter-spacing: 0px;
}

.hero-btn {
  display: inline-flex;
  align-items: center;   
  justify-content: flex-start;   
  background-color: #333;
  font-family: Oxygen;
  color: #f4f1ea;
  margin-top: 14px;
  text-decoration: none;
  font-size: 18px;
  gap: 50px;
  white-space: nowrap;
  padding: 17px 25px 20px 25px;
  height: 64px;
  box-sizing: border-box; 
  line-height: 1;
  position: relative;
  left: 0px;
  width: 242px;
  height: 64px;
}

.button-arrow1{
  width: 28px;
  height: auto;
  gap: 20px;
}

.gallery-section {
  background-color: #333;
  padding: 0px 40px;
  margin-top: 80px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
  gap: 32px;
}

.gallery-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  max-width: 1200px;
  width: 100%;
}


.gallery-item {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(239, 238, 234, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  left: -10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.item-pricing {
  width: 391px;
  height: 365px;
  position: relative;
  left: -20px;
}

.item-coaching{
  width: 355px;
  height: 500px;
  position: relative;
  left: -5px;
  transform: translateY(-1px);
}

.item-hero{
  width: 390px;
  height: 385px;
  object-fit: cover;
  position: relative;
  left: 18px;
  top: 120px;
}

.item-testimonial{
  width: 392px;
  height: 303px;
  position: relative;
  bottom: 172px;
  left: -20px;
  margin-top: 36px;
}

.item-last{
  width: 355px;
  height: 134px;
  position: relative;
  left: -20px;
}

.facts-section {
  background-color: #efeee8; 
  padding: 80px 0;
  font-family: 'Oxygen', sans-serif;
  color: #333;
}

.facts-container {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.facts-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facts-image img {
  display: block; 
  object-fit: contain;
  width: 900px; 
  height: 780px;
  position: relative;
  margin-left: -188px;
  margin-top: 31px;
}

.facts-content {
  flex: 1;
  padding-top: 85px;
  padding-right: 115px;
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
  position: relative;
  left: 2px;
  margin-left: -130px; 
  letter-spacing: 2%;
  line-height: 48px;
}

.facts-content h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  margin-bottom: 10px;
  padding-top: 5px;
  line-height: 44px;
  letter-spacing: 0.6px;
  margin-top: 0;
  white-space: nowrap;
  font-weight: 700;

}

.facts-content .subtitle {
  width: 494px;
  font-size: 17px;
  line-height: 29.7px;
  margin-bottom: 40px;
  color: #555;
  font-family: Oxygen;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding-top: 3px;
}

.list-label {
  font-family: Oxygen;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: block;
  padding-left: 0px;
  padding-top: 12px;
  line-height: 23.1px;
  margin-left: -2px;
}

.facts-list {
  width: 485px;
  height: 482px;
  gap: 15px;
}

.facts-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.facts-list li {
  padding: 17.5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 24px;
  font-size: 15px;
  letter-spacing: 0px;
  font-family: Oxygen;
}

.buy-btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start; 
  width: 215px;
  height: 48px;
  background-color: #333; 
  color: #fff;
  padding: 19px 22px; 
  text-decoration: none;
  font-family: 'Oxygen', sans-serif; 
  font-size: 16px; 
  font-weight: 400; 
  gap: 38px; 
  white-space: nowrap;
  letter-spacing: 0.2px;
  margin-top: 2px;
}

.buy-btn:hover {
  background-color: #000;
}

.buy-btn .arrow {
  width: 28px;
  height: auto;
  gap: 20px;
}

.facts-list li:first-child {
  font-size: 15px;      
  letter-spacing: 0px;
  line-height: 21.9px;
  padding-top: 36px;
}

.facts-list li:not(:first-child) {
  font-size: 16px;
  padding-top: 18.6px;
}


.hp-section {
  background-color: #EFEEE8;
  padding: 100px 0;
  width: 100%;
  height: 590px;
}

.hp-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

.hp-main-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  margin-top: 5px;
  margin-left: -49px;
}

.hp-main-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 29.7px;
  color: #555;
  max-width: 650px;
  margin-bottom: 60px;
  margin-top: 25px;
  margin-left: -49px;
}

.hp-grid {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-left: -50px;
  margin-top: -5px;
  padding-bottom: 40px;
  gap: 32px;
}

.hp-card {
  width: 392px;
  background-color: #E4E2D3;
  padding: 25px 25px 20px 25px; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: -12px;
}

.hp-image-box {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px; 
  line-height: 0;
  height: auto;
}

.hp-image-box img {
  width: 100%;     
  height: auto;     
  display: block;
}

.hp-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0px 15px;

  padding-bottom: 20px;
}

.ap-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  margin-top: 45px;
  margin-left: -49px;
}

.ap-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  max-width: 655px;
  margin-bottom: 60px;
  margin-left: -50px;
  padding-top: 10px;
  padding-right: 2px;
  letter-spacing: 0.01px;
}

.b-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  margin-top: 45px;
  margin-left: -49px;
  padding-top: 45px;
}

.b-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  max-width: 630px;
  margin-bottom: 60px;
  margin-left: -50px;
  padding-top: 8px;
  letter-spacing: 0px;
}

.other-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  margin-top: 55px;
  margin-left: -48px;
  padding-top: 75px;
}

.other-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  max-width: 630px;
  margin-bottom: 63px;
  margin-left: -48px;
  padding-top: 9px;
  letter-spacing: 0px;
}

.contact-section {
  background-color: #EFEEE8;
  padding: 360px 0;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
}

.contact-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 0 60px;
  gap: 100px;
}

.contact-img {
  width: 534px;
  height: 570px;
  display: block;
  padding-left: 50px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 85px;
  margin-right: 50px;
  text-align: left;
}

.contact-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  line-height: 1.1;
  color: #333;
  margin: 0 0 50px 0;
  font-weight: 700;
  letter-spacing: 0.02em;
  transform: translateX(-45px); 
  white-space: nowrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}

.input-group {
  margin-bottom: -7px;
  display: flex;
  flex-direction: column;
  line-height: 24.28px;
  margin-top: -4px;
  transform: translateX(-7px);
  letter-spacing: 0.1px;
  padding-bottom: 42px;
  padding-left: 2px;
}

.input-line{
    border-bottom: 1px solid #999; 
    padding-top: 9.5px;
    margin-left: -37px;
    max-width: 440px; 
}

.input-group label {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  margin-left:-5px;
}

.contact-submit {
  height: 52px; 
  width: 440px;
  display: flex;
  align-items: center;      /* Центрирует текст по вертикали */
  justify-content: center;   /* Центрирует текст по горизонтали */
  
  padding: 0; 
  
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  color: #EFEEE8;
  background-color: #333;
  transform: translateY(-15px) translateX(-44px);
  padding-right: 21px;
}


/*(Внешний блок)*/
.footer {
  background-color: #E4E2D3;;
  width: 100%;
  height: 812px;
  font-family: 'Oxygen', sans-serif;
  background-color: #E4E2D3;
  padding: 0px 0 60px 0;    /* Уменьшил паддинги, макет компактнее */
}

/*(Внутренний ограничитель)*/
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 60px;

}

.footer-top {
  display: flex;
  justify-content: space-between; /* Это главное свойство: лого влево, иконки вправо */
  align-items: center;
  margin-bottom: 80px;
  width: 100%;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-weight: 700;
  color: #333;
  margin-top: -12px;
  margin-left: -80px;
}

.footer-socials {
  display: flex;
  gap: 15px;
  margin-right: -80px;
  padding-top: 11px;
}

/* Основной контент */
.footer-content {
  display: flex;
  justify-content: flex-start;
  gap: 120px;
  margin-top: 20px;
}

/* 1. flex-grow: 0 (Первая цифра), Запрещает блоку «расти». 2. flex-shrink: 0 (Вторая цифра) Что значит: Запрещает блоку «сжиматься». 3ю flex-basis: 320px Базовая (начальная) ширина элемента. Это замена обычному width.*/
.footer-bio {
  flex: 0 0 320px;
}

.footer-bio p {
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  line-height: 1.35;
  color: #333;
  margin-left: -80px;
  margin-top: -10px;
}

/* Сетка ссылок */
.footer-links-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 130px);
  gap: 40px;
  margin-top: -5px;
  /*transform: translateX(170px);*/
  margin-left: 170px;
}

.links-column1 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-family: Oxygen;
  margin-left: -1px;
}

.links-column2 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-family: Oxygen;
  margin-left: 1px;

}

.links-column3 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-family: Oxygen;

}

.links-column4 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-family: Oxygen;
}

.links-column1 h3 {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
  margin-top: 15px;
  color: #333;
  font-weight: 700;
  line-height: 17px;
}

.links-column2 h3 {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
  margin-top: 15px;
  color: #333;
  font-weight: 700;
  line-height: 17px;
}

.links-column3 h3 {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
  margin-top: 15px;
  color: #333;
  font-weight: 700;
  line-height: 17px;
  transform: translateX(-23px);
}

.links-column4 h3 {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #333;
  font-weight: 700;
  line-height: 17px;
  transform: translateX(-43px);
}

.links-column1 a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 2px;
  margin-top: -5.5px;
  letter-spacing: 0.3px;
}

.links-column2 a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 2px;
  margin-top: -5.5px;
  letter-spacing: 0.3px;
}

.links-column3 a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 2px;
  margin-top: -5.5px;
  letter-spacing: 0.3px;
  margin-left: -22px;
}

.links-column4 a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  line-height: 29px;
  margin-bottom: 2px;
  margin-top: -10.5px;
  letter-spacing: 0.3px;
  margin-left: -41px;
}